.displayReg {
    text-align: center;
    width: 5.5em;
    margin: 1em;
    padding: 0.4em;
    background-color: rgb(209, 208, 205);
    border-radius: 1em;
    border: 4px solid black;
}

.error {
    margin: 2em;
    color: #fff;
    border-color: #e66062;
    border-radius: 10px;
    /* padding: 5px; */
    background-color: #c91216;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
    list-style-type: none;
    -webkit-box-align: center;

}

div {
    margin: 2em;
    text-align: -webkit-center;
    justify-content: center;
}

button {
    /* position: absolute; */
    top: 50%;
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
    size: 6em;
}

button:hover {
    background-color: #002ead;
    transition: 0.7s;
}

/* .btnClear{
float: left;
width: 8em; */
/* } */

body {
    background-image: url(./images/asi.png);
    background-size: cover;
    background-position: center;
    font-size: medium;
    font-family: sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}